## Pandas DataFrame Slicing

**Terminology**
* **Indexes**: DataFrame indices are labels or integers that uniquely identify rows and columns within a Pandas DataFrame, enabling efficient data access and manipulation. They can be either named (label-based) or sequential (integer-based), providing flexibility in how data is referenced and managed.
* **Slicing**: DataFrame slicing refers to the process of selecting a subset of rows and/or columns from a Pandas DataFrame using indexing techniques. This can be done through label-based indexing with loc[] or position-based indexing with iloc[], enabling efficient extraction and manipulation of specific portions of the data.

In [1]:
import pandas as pd

In [13]:
# A sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

### Example 1: Accessing a single column using []

In [15]:
# Accessing column 'A' using []:

df['A']

0    1
1    2
2    3
3    4
Name: A, dtype: int64

### Example 2: Accessing multiple columns using [[]]

In [16]:
# Accessing columns 'A' and 'B' using [[]]:

df[['A','B']]

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

### Example 3: Accessing rows and columns using .loc[]


**.loc[]** is a Pandas method used for label-based indexing, allowing you to access a group of rows and columns by their labels or a boolean array. It is primarily used for selecting and manipulating data based on the explicit labels of rows and columns, making it intuitive and readable when working with named indexes.

**.loc[]** is label-based, so we need to specify row and column labels.

In [18]:
# Accessing row 1 and column 'B' using loc[]

df.loc[1, 'B']

6

### Example 4: Accessing rows and columns using iloc[]

**.iloc[]** is a Pandas method used for position-based indexing, allowing you to access a group of rows and columns by their integer positions. It is useful for selecting and manipulating data based on the numerical indices of rows and columns, providing a straightforward way to perform operations when labels are not known or not used.

**.iloc[]** is position-based, so we need to specify row and column indices.

In [20]:
# Accessing row 1 and column 1 using iloc[]

df.iloc[1, 1]

6

### Example 5: Slicing rows and columns using loc[]

In [21]:
# Slicing rows 1 to 3 and columns 'A' and 'B' using loc[]

df.loc[1:3, ['A', 'B']]

   A  B
1  2  6
2  3  7
3  4  8

### Example 6: Slicing rows and columns using iloc[]

In [22]:
# Slicing rows 1 to 3 and columns 0 and 1 using iloc[]

df.iloc[1:3, 0:2]

   A  B
1  2  6
2  3  7

In [23]:
# Creating a DataFrame with a named index
data_named_index = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
index = ['a', 'b', 'c', 'd']

df_named = pd.DataFrame(data_named_index, index=index)
df_named

   A  B   C
a  1  5   9
b  2  6  10
c  3  7  11
d  4  8  12

### Example 7: Accessing rows using named index with loc[]

In [24]:
# Accessing row 'b' using loc[]

df_named.loc['b']

A     2
B     6
C    10
Name: b, dtype: int64

### Example 8: Accessing rows using named index with iloc[]

**.iloc[]** does not use named index, so we access by position

In [25]:
# Accessing row 1 using iloc[]

df_named.iloc[1]

A     2
B     6
C    10
Name: b, dtype: int64

### Example 9: Accessing a range of rows using named index with loc[]

In [26]:
# Accessing rows 'b' to 'd' using loc[]

df_named.loc['b':'d']

   A  B   C
b  2  6  10
c  3  7  11
d  4  8  12

### Example 10: Accessing a range of rows using named index with iloc[]

In [28]:
#Accessing rows 1 to 3 using iloc[]

df_named.iloc[1:4]

   A  B   C
b  2  6  10
c  3  7  11
d  4  8  12

### Example 11: Accessing specific columns with loc[] and iloc[]
**Differences between named and sequential indexes**
* Named indexes allow accessing data using labels, making the code more readable and intuitive.
* Sequential indexes use integer positions, which can be less readable but useful for numerical slicing.

In [32]:
# Accessing columns 'A' and 'C' for rows 'b' to 'd' using loc[]
print("Accessing columns 'A' and 'C' for rows 'b' to 'd' using loc[]")
print(df_named.loc['b':'d', ['A', 'C']])
print('\n')

# Accessing columns 0 and 2 for rows 1 to 3 using iloc[]
print("Accessing columns 0 and 2 for rows 1 to 3 using iloc[]")
print(df_named.iloc[1:4, [0, 2]])
print('\n')

Accessing columns 'A' and 'C' for rows 'b' to 'd' using loc[]
   A   C
b  2  10
c  3  11
d  4  12


Accessing columns 0 and 2 for rows 1 to 3 using iloc[]
   A   C
b  2  10
c  3  11
d  4  12